{% extends "base.html" %}
{% block title %}Tor Weather - About{% endblock %}
{% block content %}
<h2>What is Tor Weather?</h2>
<p>Tor Weather provides an email notification service to any users who want to monitor the status of a Tor node. Upon subscribing, you can specify what types of alerts you would like to receive. The main purpose of Tor Weather is to notify node operators via email if their node is down for longer than a specified period, but other notification types are available.</p>
<h2>Why should I subscribe?</h2>
<p>Tor Weather is useful to node operators who want to know as soon as their router is down in order to fix the problem.</p>
<h2>Will I be spammed by Tor Weather reports?</h2>
<p>No, you can change your preferences to minimize your Tor Weather email notifications. You can unsubscribe at any time.</p>
{% endblock %}
