{% extends "base.html" %}
{% block title %}Tor Weather - Subscribe{% endblock %}
{% block content %}
<form name="check" action="/subscribe" method="POST" onsubmit="validate()">
    <label for="email">Email:</label>
    <input type="email" name="email" size="30">
    &nbsp;
    <label for="fingerprint">Relay fingerprint:</label>
    <input type="text" name="fingerprint" size="30">
    <br><br>
    <input type="checkbox" name="node-down" checked>
    <label for="node-down">Email me when my relay is down</label>
    <br>
    <label for="duration" class="duration">How long before we send a notification?</label>
    <br>
    <input type="number" name="duration" min="1" max="4380" placeholder="Default value is 48">
    <select name="duration-type">
        <option value="hours" selected>Hours</option>
        <option value="days">Days</option>
        <option value="weeks">Weeks</option>
        <option value="months">Months</option>
    </select>
    <br>
    <input type="checkbox" name="outdated-ver">
    <label for="outdated-ver">Email me when my relay runs an outdated Tor version</label>
    <br>
    <input type="checkbox" name="select-all" onclick="toggleAll(this)">
    <label for="select-all">Subscribe to all notifications</label>
    <br><br>
    <button type="submit">Subscribe</button>
    <br>
</form>
<br>
{% if subscribed == True %}
    <i class="fa-solid fa-check"></i>&nbsp;
    Relay <strong>{{ nickname }}</strong> (fingerprint: {{ fingerprint }}) successfully subscribed to Tor weather service.
{% elif subscribed == False %}
    <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
    Relay <strong>{{ nickname }}</strong> (fingerprint: {{ fingerprint }}) has already subscribed to Tor weather service.
{% endif %}
{% if error %}
    <i class="fa-solid fa-xmark"></i>&nbsp;
    {{ error }}
{% endif %}
{% endblock %}
