{% extends "base.html" %}
{% block title %}Tor Weather - Unsubscribe{% endblock %}
{% block content %}
<form action="/unsubscribe" method="POST">
    <label for="fingerprint">Relay fingerprint:</label>
    <input type="text" name="fingerprint">
    <br><br>
    <button type="submit">Unsubscribe</button>
</form>
<br>
{% if unsubscribed == True %}
<i class="fa-solid fa-check"></i>&nbsp;
Relay <strong>{{ nickname }}</strong> (fingerprint: {{ fingerprint }}) successfully unsubscribed from Tor weather service.
{% elif unsubscribed == False %}
<i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
Relay <strong>{{ nickname }}</strong> (fingerprint: {{ fingerprint }}) has not subscribed to Tor weather service.
{% endif %}
{% endblock %}
